@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Oswald&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trochut:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,700&display=swap");
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

.header .logo {
  width: 110px;
  padding-left: 15px; }

.header {
  background-color: #2B2A4C;
  width: 100%; }

.header .nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header ul {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  width: 370px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0; }

.header ul a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #b8b7c1;
  padding-right: 12px; }

.header ul li a {
  transition: 0.7s ease; }

.header ul li :hover {
  color: #ffffff;
  font-weight: 800; }

.burguer-button {
  width: 30px;
  display: none;
  cursor: pointer; }

@media (max-width: 550px) {
  .header {
    background-color: #2B2A4C;
    display: block; }
  .header .logo {
    padding: 10px; }
  .nav ul {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2B2A4C, #B31312);
    padding: 0;
    position: absolute;
    top: 88px;
    text-align: center; }
  .nav ul li {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .nav ul li a {
    font-size: 23px;
    padding: 0;
    color: white; }
  .header .burguer-button {
    display: block;
    position: absolute;
    top: 35px;
    right: 30px; }
  #menuList {
    overflow: hidden;
    transition: 0.5s;
    z-index: 2; } }

.main .h1-inicio {
  color: #B31312;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 6px;
  background-color: #EEE2DE;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  margin: 0; }
  .main .h1-inicio .h1-tu-clasico {
    font-family: "paytone"; }

.main .carousel-index-container {
  display: none; }

.main .flex-padre-container .flex-padre {
  padding-top: 38px;
  padding-bottom: 38px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-image: url(../resourses/images/fondo-menu.jpg);
  background-position: center;
  background-size: cover; }
  .main .flex-padre-container .flex-padre img {
    width: 95%;
    border-radius: 15px;
    overflow-y: auto; }

.main .h2-inicio {
  color: #2B2A4C;
  text-align: center;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  background-color: #ffffff;
  font-family: "invisible"; }

.main .section-main2 {
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  height: 100%; }
  .main .section-main2 img {
    width: 67px;
    height: 67px; }
  .main .section-main2 .reveal {
    position: relative;
    opacity: 0; }
  .main .section-main2 .reveal.active {
    opacity: 1; }
  .main .section-main2 .active.fade-bottom {
    animation: fade-bottom 0.8s ease-in; }
  .main .section-main2 .active.fade-left {
    animation: fade-left 0.8s ease-in; }
  .main .section-main2 .active.fade-right {
    animation: fade-right 0.8s ease-in; }

@keyframes fade-bottom {
  0% {
    transform: translateY(-200px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
  .main .section-main2 h3 {
    color: #B31312;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
    background-color: #ffffff;
    font-size: 40px; }
  .main .section-main2 p {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center; }
  .main .section-main2 .trayectoria-box {
    background-color: #ffffff;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    box-shadow: #d9d8d8 0px 0px 10px 0px;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 338px;
    margin: 15px auto; }

.main .section-main3 {
  background-image: url(../resourses/images/fondo-menu.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0; }
  .main .section-main3 .nina-sonriendo {
    width: 60%;
    border-radius: 15px; }
  .main .section-main3 .h3-index {
    padding-top: 10px;
    font-size: 35px;
    font-family: "paytone";
    text-align: center;
    text-transform: uppercase;
    color: #b31312; }

.main .carousel-container {
  background-image: url(../resourses/images/local.JPG);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center; }
  .main .carousel-container img {
    border-radius: 15px; }
  .main .carousel-container .carousel-button {
    background-color: #ECC55C !important;
    border-radius: 50%; }

@media (max-width: 1400px) {
  .main .h1-inicio {
    font-size: 35px; } }

@media (max-width: 1200px) {
  .main .h1-inicio {
    font-size: 33px; } }

@media (max-width: 924px) {
  .main .h1-inicio {
    font-size: 31px; }
  .main .section-main2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .section-main2 img {
      max-width: 65px;
      max-height: 65px; }
      .main .section-main2 img .section-main2 h3 {
        font-size: 38px; } }

@media (max-width: 850px) {
  .main .h1-tu-clasico {
    font-size: 30px; }
  .main .h2-inicio {
    font-size: 38px;
    margin: 0 3px; }
  .main .section-main2 img {
    max-width: 62px;
    max-height: 62px; }
  .main .section-main2 h3 {
    font-size: 36px; } }

@media (max-width: 764px) {
  .main .h1-tu-clasico {
    font-size: 29px;
    color: #B31312; }
  .main .h2-inicio {
    font-size: 36px;
    margin: 0 3px; }
  .main .section-main3 .h3-index {
    font-size: 33px; } }

@media (max-width: 700px) {
  .main .h2-inicio {
    font-size: 34px;
    margin: 0 3px; }
  .main .section-main2 img {
    max-width: 60px;
    max-height: 60px; }
  .main .section-main2 h3 {
    font-size: 34px; }
  .main .section-main3 .nina-sonriendo {
    width: 80%; }
  .main .section-main3 .h3-index {
    font-size: 31px; } }

@media (max-width: 600px) {
  .main .h2-inicio {
    font-size: 32px;
    margin: 0 3px; }
  .main .section-main2 {
    flex-direction: column;
    align-items: center; }
    .main .section-main2 img {
      max-width: 58px;
      max-height: 58px; }
    .main .section-main2 h3 {
      font-size: 32px; }
  .main .section-main3 .h3-index {
    font-size: 29px; } }

@media (max-width: 550px) {
  .main {
    background-image: url(../resourses/images/fondo-menu.jpg);
    background-position: top;
    background-size: cover; }
    .main .carousel-index-container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 360px;
      margin: auto; }
      .main .carousel-index-container .carousel-item {
        transition: transform 1s ease, opacity .2s ease-out; }
      .main .carousel-index-container div {
        border-radius: 15px; }
        .main .carousel-index-container div img {
          border-radius: 15px; }
    .main .flex-padre-container {
      display: none; }
    .main .h1-inicio {
      font-size: 20px;
      display: flex;
      flex-direction: column; }
    .main .h1-tu-clasico {
      font-size: 25px;
      color: #2B2A4C; }
    .main .h2-inicio {
      font-size: 30px;
      margin: 0 3px; }
    .main .section-main2 img {
      max-width: 55px;
      max-height: 55px; }
    .main .section-main2 h3 {
      font-size: 30px; }
    .main .section-main2 p {
      font-size: 18px; }
    .main .section-main3 .h3-index {
      font-size: 25px;
      padding-top: 15px; } }

.main-menu {
  width: 100%;
  height: 100%; }
  .main-menu .h1-menu {
    color: #B31312;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 6px;
    background-color: #EEE2DE;
    font-family: "paytone";
    font-size: 36px;
    text-transform: uppercase; }
  .main-menu .flex-padre-menu-container .flex-padre-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-image: url(../resourses/images/fondo-menu2.jpg);
    background-position: center;
    background-size: cover; }
    .main-menu .flex-padre-menu-container .flex-padre-menu img {
      width: 354px;
      border-radius: 15px; }
    .main-menu .flex-padre-menu-container .flex-padre-menu h2 {
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
      padding: 5px 0; }
      .main-menu .flex-padre-menu-container .flex-padre-menu h2 a {
        font-family: "invisible";
        text-decoration: none;
        color: #2B2A4C; }
    .main-menu .flex-padre-menu-container .flex-padre-menu h2:hover {
      font-size: 200%;
      transition: 0.7s ease;
      padding: 7px; }

@media (max-width: 1400px) {
  .main-menu .h1-menu {
    font-size: 35px; }
  .main-menu .flex-padre-menu-container .flex-padre-menu h2 {
    font-size: 29px; } }

@media (max-width: 1200px) {
  .main-menu .h1-menu {
    font-size: 33px; }
  .main-menu .flex-padre-menu-container .flex-padre-menu {
    grid-template-columns: 1fr 1fr; }
    .main-menu .flex-padre-menu-container .flex-padre-menu h2 {
      font-size: 28px; } }

@media (max-width: 992px) {
  .main-menu .h1-menu {
    font-size: 32px; }
  .main-menu .flex-padre-menu-container .flex-padre-menu .main-menu h2 {
    font-size: 27px; } }

@media (max-width: 768px) {
  .main-menu .h1-menu {
    font-size: 31px; }
  .main-menu .flex-padre-menu-container .flex-padre-menu {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-menu .flex-padre-menu-container .main-menu h2 {
    font-size: 26px; } }

@media (max-width: 576px) {
  .main-menu .h1-menu {
    font-size: 25px; }
  .main-menu .flex-padre-menu-container .flex-padre-menu img {
    width: 300px; }
  .main-menu .flex-padre-menu-container .flex-padre-menu h2 {
    font-size: 25px; } }

.main-contacto .h1-contacto {
  color: #B31312;
  text-align: center;
  background-color: #EEE2DE;
  font-family: "paytone";
  padding-top: 2px;
  padding-bottom: 6px;
  font-size: 35px;
  text-transform: uppercase; }

.main-contacto .h2-contacto {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #2B2A4C;
  font-weight: 500;
  text-align: center;
  padding: 10px 0; }

.main-contacto .h2-contacto:hover {
  padding: 20px;
  transition: 0.7s ease; }

.main-contacto .form-container {
  display: grid;
  grid-template-columns: 2.5fr 0.5fr;
  grid-template-areas: "form-box mas-info-box";
  justify-items: center;
  align-items: center; }
  .main-contacto .form-container .form-box {
    grid-area: form-box; }
  .main-contacto .form-container .mas-info-box {
    grid-area: mas-info-box; }
  .main-contacto .form-container .form-box {
    width: 70%;
    margin: 10px;
    padding: 10px;
    border: solid #e3e3e3;
    display: flex;
    flex-direction: column; }
    .main-contacto .form-container .form-box label {
      margin: 5px 0;
      font-family: "oswald";
      font-size: 18px; }
    .main-contacto .form-container .form-box input {
      padding-left: 5px;
      border-radius: 5px;
      border: solid #e8e8e8;
      color: #212121;
      font-family: "oswald";
      font-size: 16px; }
    .main-contacto .form-container .form-box input:hover {
      border-color: #B31312; }
    .main-contacto .form-container .form-box textarea {
      padding-left: 5px;
      border-radius: 5px;
      border: solid #e8e8e8;
      font-family: "oswald";
      font-size: 16px; }
    .main-contacto .form-container .form-box textarea:hover {
      border-color: #B31312; }
    .main-contacto .form-container .form-box .send-button {
      width: 70px;
      height: 40px;
      background-color: #B31312;
      color: white;
      margin: 10px 0;
      padding-right: 2px; }
    .main-contacto .form-container .form-box .send-button:hover {
      background-color: #1c1c1d;
      border-color: #1c1c1d; }
  .main-contacto .form-container .mas-info-box {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    margin: auto;
    padding: 10px;
    border: solid #e3e3e3;
    align-items: center; }
    .main-contacto .form-container .mas-info-box img {
      width: 20px; }
    .main-contacto .form-container .mas-info-box .mas-info-logo {
      width: 150px; }

.main-contacto .iframe-map {
  width: 100%; }

@media (max-width: 1400px) {
  .main-contacto .h1-contacto {
    font-size: 33px; }
  .main-contacto .h2-contacto {
    font-size: 24px;
    padding-top: 8px; } }

@media (max-width: 1200px) {
  .main.contacto .h1-contacto {
    font-size: 31px;
    font-family: "paytone";
    text-transform: uppercase; }
  .main.contacto .h2-contacto {
    font-size: 22px;
    padding-top: 8px; }
  .mas-info-box {
    width: 230px; }
    .mas-info-box h3 {
      font-size: 17px; }
    .mas-info-box span {
      font-size: 15px; }
    .mas-info-box p {
      font-size: 15px; }
    .mas-info-box .mas-info-logo {
      width: 130px; } }

@media (max-width: 850px) {
  .main-contacto .h1-contacto {
    font-size: 30px;
    font-family: "paytone";
    text-transform: uppercase; }
  .main-contacto .h2-contacto {
    font-size: 20px;
    padding-top: 8px; }
  .main-contacto .form-container {
    display: flex;
    flex-direction: column; }
    .main-contacto .form-container .form-box {
      width: 90%; }
    .main-contacto .form-container .mas-info-box {
      height: 300px;
      max-width: 300px;
      background-color: #f0f0f0;
      margin: auto;
      padding: 10px;
      border: solid #e3e3e3;
      align-items: center; }
      .main-contacto .form-container .mas-info-box .mas-info-logo {
        width: 100px; } }

@media (max-width: 550px) {
  .main-contacto .h1-contacto {
    font-size: 25px; } }

.nosotros-titulo-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow: hidden; }
  .nosotros-titulo-container .title-box {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .nosotros-titulo-container .title-box .h1-nosotros {
      color: #B31312;
      text-align: center;
      font-family: "paytone";
      font-size: 46px;
      text-transform: uppercase;
      padding: 5px 10px;
      background: #ffffff;
      background: linear-gradient(54deg, #ffffffc0 0%, #ffddddbf 100%);
      border-radius: 5px; }
    .nosotros-titulo-container .title-box .h2-nosotros {
      font-family: "oswald";
      color: #2B2A4C;
      font-size: 42px;
      text-align: center;
      padding: 5px 10px;
      background: #ffffff;
      background: linear-gradient(54deg, #ffffffc0 0%, #ffddddbf 100%);
      border-radius: 5px;
      padding: 2px 10px;
      border: solid white; }
  .nosotros-titulo-container video {
    width: 100%;
    overflow: hidden; }

.main-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-nosotros .nosotros-container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin: 0 10px; }
    .main-nosotros .nosotros-container .h3-nosotros {
      font-family: "oswald";
      color: #2B2A4C;
      font-size: 30px;
      text-align: center;
      padding-top: 10px;
      margin: 5px 20px;
      margin-bottom: 20px; }
    .main-nosotros .nosotros-container h3 {
      margin: 10px auto 8px auto;
      font-size: 2rem;
      text-transform: uppercase;
      font-family: "paytone";
      color: #B31312; }
    .main-nosotros .nosotros-container p {
      color: #212020;
      font-family: "oswald";
      text-align: center;
      margin: auto;
      padding: 10px;
      max-width: 65%;
      font-size: 20px; }
    .main-nosotros .nosotros-container span {
      font-size: 2rem;
      font-family: "paytone";
      margin: 5px;
      color: #2e2e2d;
      text-transform: uppercase; }
    .main-nosotros .nosotros-container h4 {
      font-size: 1.5rem;
      font-family: "invisible";
      margin: 5px;
      color: #2e2e2d;
      text-transform: uppercase;
      text-decoration: underline; }
    .main-nosotros .nosotros-container h5 {
      color: #2B2A4C;
      text-align: center;
      font-family: "paytone";
      font-size: 35px;
      margin: 5px;
      text-transform: uppercase; }
    .main-nosotros .nosotros-container h6 {
      margin: 5px auto;
      font-size: 2rem;
      text-transform: uppercase;
      font-family: "paytone";
      color: #2e2e2d;
      text-align: center; }
    .main-nosotros .nosotros-container .nosotros-img {
      width: 60%;
      border-radius: 20px; }
    .main-nosotros .nosotros-container .logo3-nosotros {
      width: 120px;
      margin-bottom: 10px; }

@media (max-width: 1400px) {
  .nosotros-titulo-container .title-box .h1-nosotros {
    font-size: 45px; }
  .nosotros-titulo-container .title-box .h2-nosotros {
    font-size: 41px; }
  .main-nosotros .nosotros-container .h3-nosotros {
    font-size: 29px; }
  .main-nosotros .nosotros-container span {
    font-size: 1.9rem; }
  .main-nosotros .nosotros-container h3 {
    font-size: 1.9rem; }
  .main-nosotros .nosotros-container h4 {
    font-size: 1.4rem; }
  .main-nosotros .nosotros-container h5 {
    font-size: 34px; }
  .main-nosotros .nosotros-container h6 {
    font-size: 1.8rem; } }

@media (max-width: 1200px) {
  .nosotros-titulo-container .title-box .h1-nosotros {
    font-size: 43px; }
  .nosotros-titulo-container .title-box .h2-nosotros {
    font-size: 39px; }
  .main-nosotros .nosotros-container .h3-nosotros {
    font-size: 28px; }
  .main-nosotros .nosotros-container span {
    font-size: 1.7rem; }
  .main-nosotros .nosotros-container h3 {
    font-size: 1.7rem; }
  .main-nosotros .nosotros-container h4 {
    font-size: 1.2rem; }
  .main-nosotros .nosotros-container h5 {
    font-size: 32px; }
  .main-nosotros .nosotros-container h6 {
    font-size: 1.6rem; } }

@media (max-width: 992px) {
  .nosotros-titulo-container .title-box {
    justify-content: flex-start;
    padding-top: 118px; }
  .nosotros-titulo-container .h1-nosotros {
    font-size: 41px; }
  .nosotros-titulo-container .h2-nosotros {
    font-size: 37px; }
  .main-nosotros .nosotros-container .h3-nosotros {
    font-size: 25px; }
  .main-nosotros .nosotros-container span {
    font-size: 1.5rem; }
  .main-nosotros .nosotros-container h3 {
    font-size: 1.5rem; }
  .main-nosotros .nosotros-container h4 {
    font-size: 1rem; }
  .main-nosotros .nosotros-container h5 {
    font-size: 30px; }
  .main-nosotros .nosotros-container h6 {
    font-size: 1.4rem; }
  .main-nosotros .nosotros-container .nosotros-img {
    width: 70%; } }

@media (max-width: 768px) {
  .nosotros-titulo-container .title-box .h1-nosotros {
    font-size: 35px; }
  .nosotros-titulo-container .title-box .h2-nosotros {
    font-size: 32px; }
  .main-nosotros .nosotros-container .h3-nosotros {
    font-size: 22px; }
  .main-nosotros .nosotros-container span {
    font-size: 1.2rem; }
  .main-nosotros .nosotros-container h3 {
    font-size: 1.2rem; }
  .main-nosotros .nosotros-container h4 {
    font-size: 0.8rem; }
  .main-nosotros .nosotros-container h5 {
    font-size: 26px; }
  .main-nosotros .nosotros-container h6 {
    font-size: 1.1rem; }
  .main-nosotros .nosotros-container p {
    font-size: 18px; }
  .main-nosotros .nosotros-container .nosotros-img {
    width: 75%; } }

@media (max-width: 550px) {
  .nosotros-titulo-container .title-box {
    justify-content: flex-start;
    padding-top: 55px; }
    .nosotros-titulo-container .title-box .h1-nosotros {
      border-radius: 5px;
      font-size: 30px;
      padding: 2px 10px; }
    .nosotros-titulo-container .title-box .h2-nosotros {
      font-size: 27px;
      color: #2B2A4C;
      border-radius: 5px;
      padding: 2px 10px; }
  .main-nosotros .nosotros-container .h3-nosotros {
    font-size: 18px;
    text-align: center; }
  .main-nosotros .nosotros-container span {
    font-size: 22px; }
  .main-nosotros .nosotros-container h3 {
    font-size: 22px;
    text-align: center; }
  .main-nosotros .nosotros-container h4 {
    font-size: 1rem; }
  .main-nosotros .nosotros-container h5 {
    font-size: 20px; }
  .main-nosotros .nosotros-container h6 {
    font-size: 20px;
    padding-bottom: 0; }
  .main-nosotros .nosotros-container p {
    font-size: 18px; }
  .main-nosotros .nosotros-container .nosotros-img {
    width: 90%; } }

.h1-nos-importa {
  color: #B31312;
  text-align: center;
  background-color: #EEE2DE;
  font-family: "paytone";
  padding-top: 5px;
  padding-bottom: 9px;
  font-size: 35px;
  text-transform: uppercase; }

.main-nos-importa, .main-nos-importa .blog-container, .main-nos-importa .blog-container .playas-limpias-notas {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-nos-importa .blog-container, .main-nos-importa .blog-container .playas-limpias-notas .blog-container {
    width: 95%; }
    .main-nos-importa .blog-container article .h2-nos-importa {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #2B2A4C;
      font-size: 50px;
      font-weight: 500;
      padding: 15px; }
    .main-nos-importa .blog-container article .p-reciclar {
      color: black;
      font-size: 22px;
      font-weight: bold;
      padding: 10px;
      font-family: "oswald"; }
    .main-nos-importa .blog-container article p, .main-nos-importa .blog-container .playas-limpias-notas .blog-container article p {
      color: black;
      padding: 10px;
      max-width: 800px;
      text-align: justify;
      font-family: "oswald";
      font-size: 18px; }
    .main-nos-importa .blog-container article .nos-importa-iframe {
      border-radius: 15px; }
    .main-nos-importa .blog-container .h3-nos-importa {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #2B2A4C;
      font-size: 25px;
      font-weight: 500;
      padding: 15px; }
    .main-nos-importa .blog-container .p-increible {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-family: "oswald"; }
    .main-nos-importa .blog-container .playas-limpias-notas {
      padding-bottom: 40px; }
    .main-nos-importa .blog-container .h4-nos-importa {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #B31312;
      font-size: 45px;
      font-weight: 500;
      margin: 15px;
      margin-top: 70px;
      text-align: center; }
    .main-nos-importa .blog-container .p-style-title {
      color: #2B2A4C;
      font-size: 26px;
      font-family: "oswald"; }
    .main-nos-importa .blog-container .playas-limpias-img {
      max-width: 90%;
      padding: 15px;
      border-radius: 35px; }
    .main-nos-importa .blog-container .emoji-abrazo {
      max-width: 50px;
      border-radius: 50%; }
    .main-nos-importa .blog-container .ul-playas-limpias {
      background-color: #ECC55C;
      padding: 10px 10px 35px 20px;
      border-radius: 15px; }
      .main-nos-importa .blog-container .ul-playas-limpias li {
        margin-top: 20px;
        margin-left: 25px;
        max-width: 850px;
        font-family: "oswald";
        font-size: 18px; }
    .main-nos-importa .blog-container p, .main-nos-importa .blog-container .playas-limpias-notas .blog-container p {
      color: black;
      padding: 10px;
      max-width: 800px;
      text-align: justify;
      font-family: "oswald";
      font-size: 18px; }
      .main-nos-importa .blog-container p a, .main-nos-importa .blog-container .playas-limpias-notas .blog-container p a {
        color: #167ac6; }
      .main-nos-importa .blog-container p a:hover {
        color: #549ed7;
        transition: 0.7s ease; }

@media (max-width: 1400px) {
  .h1-nos-importa {
    font-size: 31px; }
  .main-nos-importa .blog-container, .main-nos-importa .blog-container .playas-limpias-notas .blog-container {
    margin: auto; }
    .main-nos-importa .blog-container article .h2-nos-importa {
      font-size: 48px; }
    .main-nos-importa .blog-container .h4-nos-importa {
      font-size: 43px; } }

@media (max-width: 1200px) {
  .h1-nos-importa {
    font-size: 30px; }
  .main-nos-importa .blog-container article .h2-nos-importa {
    font-size: 46px; }
  .main-nos-importa .blog-container article .p-reciclar {
    font-size: 21px; }
  .main-nos-importa .blog-container .h4-nos-importa {
    font-size: 41px; }
  .main-nos-importa .blog-container article, .main-nos-importa .blog-container .playas-limpias-notas .blog-container article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 992px) {
  .h1-nos-importa {
    font-size: 28px; }
  .main-nos-importa .blog-container article .h2-nos-importa {
    font-size: 44px; }
  .main-nos-importa .blog-container article .p-reciclar {
    font-size: 20px; }
  .main-nos-importa .blog-container article p, .main-nos-importa .blog-container .playas-limpias-notas .blog-container article p {
    max-width: 85%; }
  .main-nos-importa .blog-container .h4-nos-importa {
    font-size: 39px; }
  .main-nos-importa .blog-container p, .main-nos-importa .blog-container .playas-limpias-notas .blog-container p {
    max-width: 85%;
    text-align: start; }
  .main-nos-importa .blog-container .ul-playas-limpias {
    margin: auto;
    max-width: 85%; } }

@media (max-width: 768px) {
  .h1-nos-importa {
    font-size: 28px; }
  .main-nos-importa .blog-container article .h2-nos-importa {
    font-size: 37px; }
  .main-nos-importa .blog-container article .p-reciclar {
    font-size: 20px; }
  .main-nos-importa .blog-container .h3-nos-importa {
    font-size: 23px; }
  .main-nos-importa .blog-container .h4-nos-importa {
    font-size: 32px; }
  .main-nos-importa .blog-container .playas-limpias-notas {
    padding-bottom: 25px; }
  .main-nos-importa .blog-container .ul-playas-limpias {
    padding-bottom: 25px; }
  .main-nos-importa article .nos-importa-iframe, .main-nos-importa .blog-container .playas-limpias-notas article .nos-importa-iframe {
    width: 100%; } }

@media (max-width: 576px) {
  .h1-nos-importa {
    font-size: 25px; }
  .main-nos-importa .blog-container article .h2-nos-importa {
    font-size: 25px;
    padding: 5px; }
  .main-nos-importa .blog-container article .p-reciclar {
    font-size: 18px;
    text-align: unset; }
  .main-nos-importa .blog-container article p, .main-nos-importa .blog-container .playas-limpias-notas .blog-container article p {
    text-align: unset;
    font-size: 17px; }
  .main-nos-importa .blog-container p, .main-nos-importa .blog-container .playas-limpias-notas .blog-container p {
    font-size: 17px; }
  .main-nos-importa .blog-container .h3-nos-importa {
    font-size: 21px;
    text-align: center; }
  .main-nos-importa .blog-container .h4-nos-importa {
    font-size: 25px;
    margin-top: 30px;
    padding: 0 10px; }
  .main-nos-importa .blog-container article .nos-importa-iframe {
    width: 100%; }
  .main-nos-importa .blog-container small, .main-nos-importa .blog-container .playas-limpias-notas .blog-container small {
    margin: 5px;
    text-align: center; }
  .main-nos-importa .blog-container .p-style-title {
    font-size: 23px; }
  .main-nos-importa .blog-container .ul-playas-limpias {
    padding-left: 5px; }
    .main-nos-importa .blog-container .ul-playas-limpias li {
      font-size: 17px; } }

.footer {
  width: 100%;
  background-color: #000000e6; }
  .footer .grupo-uno {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 0; }
    .footer .grupo-uno a {
      font-family: "Oswald";
      color: #b8b7c1;
      font-size: 17px;
      text-align: center;
      text-decoration: none;
      margin-left: 20px; }
    .footer .grupo-uno a:hover {
      color: white;
      transition: 0.5s ease; }
    .footer .grupo-uno .phone-footer {
      width: 20px;
      height: 20px; }
    .footer .grupo-uno .redes-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .footer .grupo-uno .redes-footer a {
        text-decoration: none;
        margin: 2px; }
      .footer .grupo-uno .redes-footer img {
        width: 40px; }
    .footer .grupo-uno figure {
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer .grupo-uno figure a {
        margin: 0; }
      .footer .grupo-uno figure img {
        width: 120px;
        margin: 10px; }
      .footer .grupo-uno figure img:hover {
        transform: 550px; }
    .footer .grupo-uno h6 {
      font-family: "Oswald";
      color: #b8b7c1;
      font-size: 17px;
      font-weight: unset;
      margin: 8px 0;
      margin-left: 20px; }
    .footer .grupo-uno h6:hover, .footer .grupo-uno .small-footer:hover, .footer .grupo-uno .small-footer:hover img {
      color: white;
      transition: 0.5s ease; }
    .footer .grupo-uno .small-footer {
      font-family: "oswald";
      color: #b8b7c1;
      text-align: center;
      margin-top: 5px;
      padding: 5px;
      display: flex;
      align-items: center; }
  .footer .grupo-dos {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0; }
    .footer .grupo-dos small {
      margin: 20px; }

@media (max-width: 992px) {
  .footer .grupo-uno {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 0; } }

.h1-menu {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 6px;
  background-color: #EEE2DE;
  font-size: 36px; }
  .h1-menu a {
    color: #B31312;
    font-family: "paytone";
    text-transform: uppercase;
    text-decoration: none; }

h2 {
  font-family: "invisible";
  text-align: center;
  color: #2B2A4C;
  font-size: 35px;
  margin: 10px; }

.clasicos-container {
  width: 95%;
  margin: auto; }
  .clasicos-container .clasicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-image: url(../resourses/images/fondo-menu2.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 20px; }
    .clasicos-container .clasicos .carne-container, .clasicos-container .clasicos .pollo-container, .clasicos-container .clasicos .merluza-container, .clasicos-container .clasicos .napo-container, .clasicos-container .clasicos .sandwich-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 5px; }
    .clasicos-container .clasicos img {
      width: 400px;
      height: 390px;
      border-radius: 15px; }
    .clasicos-container .clasicos h3 {
      font-family: "new-font";
      padding-top: 4px; }
    .clasicos-container .clasicos p {
      font-size: 16px;
      font-family: "new-font";
      padding: 3px 2px; }
    .clasicos-container .clasicos small {
      font-size: 10px;
      font-weight: bold; }

@media (max-width: 1400px) {
  .h1-menu {
    font-size: 35px; }
  h2 {
    font-size: 33px; }
  .clasicos-container .clasicos img {
    height: 85%;
    max-width: 85%; } }

@media (max-width: 1200px) {
  .h1-menu {
    font-size: 33px; }
  h2 {
    font-size: 31px; }
  .clasicos-container .clasicos {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 992px) {
  .h1-menu {
    font-size: 32px; }
  h2 {
    font-size: 30px; } }

@media (max-width: 768px) {
  .h1-menu {
    font-size: 31px; }
  h2 {
    font-size: 29px; }
  .clasicos-container .clasicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media (max-width: 576px) {
  .h1-menu {
    font-size: 25px; }
  h2 {
    font-size: 25px; } }

.acompanamientos-container {
  width: 95%;
  margin: auto; }
  .acompanamientos-container .acompanamientos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-image: url(../resourses/images/fondo-menu2.jpg);
    background-position: center;
    background-size: cover; }
    .acompanamientos-container .acompanamientos .fries-box, .acompanamientos-container .acompanamientos .backed-box, .acompanamientos-container .acompanamientos .smash-box, .acompanamientos-container .acompanamientos .salad-box, .acompanamientos-container .acompanamientos .tortillas-box, .acompanamientos-container .acompanamientos .bomb-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px; }
    .acompanamientos-container .acompanamientos img {
      width: 350px;
      border-radius: 15px; }
    .acompanamientos-container .acompanamientos h3 {
      font-family: "new-font";
      padding-top: 4px; }
    .acompanamientos-container .acompanamientos small {
      font-size: 10px;
      font-weight: bold; }

@media (max-width: 1400px) {
  .acompanamientos-container .acompanamientos img {
    width: 85%; } }

@media (max-width: 1200px) {
  .acompanamientos-container .acompanamientos {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 768px) {
  .acompanamientos-container .acompanamientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.pastas-container {
  width: 95%;
  margin: auto; }
  .pastas-container .pastas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-image: url(../resourses/images/fondo-menu2.jpg);
    background-position: center;
    background-size: cover; }
    .pastas-container .pastas article {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px; }
      .pastas-container .pastas article img {
        max-width: 450px;
        border-radius: 15px;
        margin: 0 20px; }
      .pastas-container .pastas article h3 {
        font-family: "new-font";
        padding-top: 4px;
        margin: auto;
        text-align: center; }
      .pastas-container .pastas article small {
        font-weight: bold;
        font-size: 10px; }

@media (max-width: 1400px) {
  .pastas-container .pastas img {
    width: 90%; } }

@media (max-width: 768px) {
  .pastas-container .pastas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .pastas-container .pastas img {
      width: 85%; } }

.empanadas-container {
  width: 95%;
  margin: auto; }
  .empanadas-container .empanadas {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-image: url(../resourses/images/fondo-menu2.jpg);
    background-position: center;
    background-size: cover; }
    .empanadas-container .empanadas article {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px; }
      .empanadas-container .empanadas article img {
        max-width: 300px;
        height: 223px;
        border-radius: 5px; }
      .empanadas-container .empanadas article h3 {
        font-family: "new-font";
        margin: auto;
        text-align: center; }
      .empanadas-container .empanadas article small {
        font-size: 10px;
        font-weight: bold; }

.postres-container {
  width: 95%;
  margin: auto; }
  .postres-container .postres {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-image: url(../resourses/images/fondo-menu2.jpg);
    background-position: center;
    background-size: cover; }
    .postres-container .postres article {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .postres-container .postres article img {
        max-width: 400px;
        border-radius: 5px; }
      .postres-container .postres article h3 {
        font-family: "new-font";
        margin: auto;
        text-align: center; }
      .postres-container .postres article small {
        font-size: 10px;
        font-weight: bold;
        text-align: center; }

@media (max-width: 1400px) {
  .postres-container .postres img {
    width: 90%; } }

@media (max-width: 576px) {
  .postres-container .postres img {
    width: 85%; } }

.tartas-container {
  width: 95%;
  margin: auto; }
  .tartas-container .tartas-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-image: url(../resourses/images/fondo-menu2.jpg);
    background-position: center;
    background-size: cover; }
    .tartas-container .tartas-box article {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px; }
      .tartas-container .tartas-box article img {
        max-width: 450px;
        border-radius: 15px;
        margin: 0 20px; }
      .tartas-container .tartas-box article h3 {
        font-family: "new-font";
        padding-top: 4px;
        margin: auto;
        text-align: center; }
      .tartas-container .tartas-box article p {
        font-size: 16px;
        font-family: "new-font";
        padding: 3px 2px; }
      .tartas-container .tartas-box article small {
        font-weight: bold;
        font-size: 10px; }

@media (max-width: 1400px) {
  .tartas-container .tartas-box img {
    width: 90%; } }

@media (max-width: 768px) {
  .tartas-container .tartas-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .tartas-container .tartas-box img {
      width: 85%; } }

@font-face {
  font-family: "invisible";
  src: url(../resourses/tipografia/Invisible-ExtraBold.otf); }

@font-face {
  font-family: "paytone";
  src: url(../resourses/tipografia/PaytoneOne-Regular.ttf); }

@font-face {
  font-family: "new-font";
  src: url(../resourses/tipografia/bebas-neue/BebasNeue-Regular.ttf); }

@font-face {
  font-family: "carter";
  src: url(../resourses/tipografia/CarterOne-Regular.ttf); }

@font-face {
  font-family: "majucita";
  src: url(../resourses/tipografia/FjallaOne-Regular.ttf); }
