@import "./tools/variables";
@import "./tools/reset";
@import "./sections/header";
@import "./sections/index";
@import "./sections/menu";
@import "./sections/contacto";
@import "./sections/nosotros";
@import "./sections/nos-importa";
@import "./sections/footer";
@import "./sections/especialidades";
@import "./sections/acompanamientos";
@import "./sections/pastas";
@import "./sections/empanadas";
@import "./sections/postres";

@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Oswald&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trochut:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,700&display=swap');



@font-face {
    font-family: "invisible";
    src: url(../resourses/tipografia/Invisible-ExtraBold.otf);
}

@font-face {
    font-family: "paytone";
    src: url(../resourses/tipografia/PaytoneOne-Regular.ttf);
}

@font-face {
    font-family: "new-font";
    src: url(../resourses/tipografia/bebas-neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "carter";
    src: url(../resourses/tipografia/CarterOne-Regular.ttf);
}
@font-face { 
    font-family:"majucita";
    src: url(../resourses/tipografia/FjallaOne-Regular.ttf);
}