@import "./tools/reset";
@import "./sections/header";
@import "./sections/index.scss";
@import "./sections/menu";
@import "./sections/contacto";
@import "./sections/nosotros";
@import "./sections/nos-importa";
@import "./sections/footer.scss";
@import "./sections/especialidades.scss";
@import "./sections/acompanamientos.scss";
@import "./sections/pastas.scss";
@import "./sections/empanadas.scss";
@import "./sections/postres.scss";

@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Oswald&family=Staatliches&display=swap');


@font-face {
    font-family: "invisible";
    src: url(../resourses/tipografia/Invisible-ExtraBold.otf);
}

@font-face {
    font-family: "paytone";
    src: url(../resourses/tipografia/PaytoneOne-Regular.ttf);
}

@font-face {
    font-family: "new-font";
    src: url(../resourses/tipografia/bebas-neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "carter";
    src: url(../resourses/tipografia/CarterOne-Regular.ttf);
}