.acompanamientos-container {
    width: 95%;
    margin: auto;

    .acompanamientos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        background-image: url(https://i.pinimg.com/originals/a8/f2/65/a8f265e983f2c065b8128eaed8ccb9a7.jpg);
        background-position: center;
        background-size: cover;

        .fries-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        .backed-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        .smash-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        .salad-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        .tortillas-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        .bomb-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        img {
            width: 350px;
            border-radius: 15px;
        }

        h3 {
            font-family: "new-font";
            padding-top: 4px;
        }

        small {
            font-size: 10px;
            font-weight: bold;
        }
    }
}

@media (max-width:1400px) {
    .acompanamientos-container {
        .acompanamientos {
            img {
                width: 85%;
            }
        }
    }
}

@media (max-width:1200px) {
    .acompanamientos-container {
        .acompanamientos {
           grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width:768px) {
    .acompanamientos-container {
        .acompanamientos {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
    }
}