.main-contacto {
    .h1-contacto {
        color: $rojo;
        text-align: center;
        background-color: #EEE2DE;
        font-family: "paytone";
        padding-top: 2px;
        padding-bottom: 6px;
        font-size: 35px;
        text-transform: uppercase;
    }

    .h2-contacto {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: $azul;
        font-weight: 500;
        text-align: center;
        padding: 10px 0;
    }

    .h2-contacto:hover {
        padding: 20px;
        transition: 0.7s ease;
    }

    .form-container {
        display: grid;
        grid-template-columns: 2.5fr 0.5fr;
        grid-template-areas: "form-box mas-info-box";
        justify-items: center;
        align-items: center;

        .form-box {
            grid-area: form-box;
        }

        .mas-info-box {
            grid-area: mas-info-box;
        }

        .form-box {
            width: 70%;
            margin: 10px;
            padding: 10px;
            border: solid #e3e3e3;
            display: flex;
            flex-direction: column;

            label {
                margin: 5px 0;
                font-family: "oswald";
                font-size: 18px;
            }

            input {
                padding-left: 5px;
                border-radius: 5px;
                border: solid rgb(232, 232, 232);
                color: #212121;
                font-family: "oswald";
                font-size: 16px;
            }

            input:hover {
                border-color: $rojo;
            }

            textarea {
                padding-left: 5px;
                border-radius: 5px;
                border: solid rgb(232, 232, 232);
                font-family: "oswald";
                font-size: 16px;
            }

            textarea:hover {
                border-color: $rojo;
            }

            .send-button {
                width: 70px;
                height: 40px;
                background-color: $rojo;
                color: white;
                margin: 10px 0;
                padding-right: 2px;
            }

            .send-button:hover {
                background-color: #1c1c1d;
                border-color: #1c1c1d;

            }
        }

        .mas-info-box {
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: #f0f0f0;
            margin: auto;
            padding: 10px;
            border: solid #e3e3e3;
            align-items: center;

            img {
                width: 20px;
            }

            .mas-info-logo {
                width: 150px;
            }
        }
    }

    .iframe-map {
        width: 100%;
    }
}

@media(max-width: 1400px) {
    .main-contacto {
        .h1-contacto {
            font-size: 33px;
            font-family: "paytone";
            text-transform: uppercase;
        }

        .h2-contacto {
            font-size: 24px;
            padding-top: 8px;
        }
    }
}

@media (max-width: 1200px) {
    .main.contacto {
        .h1-contacto {
            font-size: 31px;
            font-family: "paytone";
            text-transform: uppercase;
        }

        .h2-contacto {
            font-size: 22px;
            padding-top: 8px;
        }
    }

    .mas-info-box {
        width: 230px;

        h3 {
            font-size: 17px;
        }

        span {
            font-size: 15px;
        }

        p {
            font-size: 15px;
        }

        .mas-info-logo {
            width: 130px;
        }
    }
}

@media (max-width: 850px) {
    .main-contacto {
        .h1-contacto {
            font-size: 30px;
            font-family: "paytone";
            text-transform: uppercase;
        }

        .h2-contacto {
            font-size: 20px;
            padding-top: 8px;
        }

        .form-container {
            display: flex;
            flex-direction: column;

            .form-box {
                width: 90%;
            }

            .mas-info-box {
                height: 300px;
                max-width: 300px;
                background-color: #f0f0f0;
                margin: auto;
                padding: 10px;
                border: solid #e3e3e3;
                align-items: center;

                .mas-info-logo {
                    width: 100px;
                }
            }
        }
    }
}