.h1-menu {
    color: rgb(179, 19, 18);
    text-align: center;
    padding-top: 2px;
    padding-bottom: 6px;
    background-color: #EEE2DE;
    font-family: "paytone";
    font-size: 36px;
    text-transform: uppercase;
}

h2 {
    font-family: "invisible";
    text-align: center;
    color: #2B2A4C;
    font-size: 35px;
    margin: 10px;

}

.clasicos-container {
    width: 95%;
    margin: auto;

    .clasicos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-image: url(https://i.pinimg.com/originals/a8/f2/65/a8f265e983f2c065b8128eaed8ccb9a7.jpg);
        background-position: center;
        background-size: cover;
        padding-top: 10px;
        ;
        padding-bottom: 20px;

        img {
            width: 400px;
            height: 390px;
            border-radius: 15px;
        }

        h3 {
            font-family: "new-font";
            padding-top: 4px;
        }

        p {
            font-size: 16px;
            font-family: "new-font";
            padding: 3px 2px;
        }

        .clasicos small {
            font-size: 10px;
            font-weight: bold;
        }
    }
}

.clasicos .carne-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
}

.clasicos .pollo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
}

.clasicos .merluza-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
}

.clasicos .napo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
}

.clasicos .sandwich-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
}

@media (max-width:1400px) {
       h2 {
        font-size: 33px;
    }

    .clasicos-container .clasicos {
        img {
            height: 90%;
            max-width: 90%;
        }
    }
}
@media (max-width:1200px) {
        h2 {
        font-size: 31px;
    }
}
@media(max-width:992px) {
   
    h2{
        font-size: 30px;
    }
}
@media(max-width:768px) {
    .flex-padre-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    h2 {
        font-size: 29px;
    }
}
@media(max-width:576px) {
        h2 {
        font-size: 25px;
    }
}