.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);

    .grupo-uno {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 40px 0;

        a {
            font-family: "Oswald";
            color: white;
            font-size: 17px;
            text-align: center;
            text-decoration: none;
            margin-left: 20px;
        }

        .phone-footer {
            width: 20px;
            height: 20px;
        }

        .redes-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            img {
                width: 40px;
            }
        }

        figure {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 120px;
                margin: 10px;
            }
        }

        h6 {
            font-family: "Oswald";
            color: white;
            font-size: 17px;
            font-weight: unset;
            margin-top: 8px;
            margin-left: 20px;
        }

        .small-footer {
            font-family: "oswald";
            color: white;
            text-align: center;
            margin-top: 5px;
            padding: 5px;
        }
    }

    .grupo-dos {
        text-align: center;
        background-color: black;
        color: white;
        padding: 10px 0;
        small{
            margin: 20px;
        }
    }

}

@media (max-width:992px) {
    .footer {
        .grupo-uno {
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 40px 0;
        }
    }
}

@media (max-width:576px) {
         .footer {
            .grupo-uno{
                .nosotros-footer{
                    display: none;
                }
            }
        }}
// @media (max-width:576px) {
//     .footer {
//         .footer-container {
//             grid-template-columns: 1fr 1fr;
//             grid-template-rows: 1fr 1fr 1fr;
//             grid-template-areas: "telefono-footer logo-footer"
//                 "iconos-pago redes-footer"
//                 "small small";

//             .contacto-footer {
//                 display: none;
//             }

//             .nosotros-footer {
//                 display: none;
//             }

//             .direccion-footer {
//                 display: none;
//             }

//             .redes-footer {
//                 img {
//                     padding-left: 10px;
//                 }
//             }

//             .logo-footer {
//                 width: 100px;
//             }
//         }
//     }
// }