.footer {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
}

    .footer-container{
        position: relative;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    h6{
        font-family: "Oswald";
        color: white;
        font-size: 17px;
        text-align: center;
        padding: 10px 0;
        font-weight: unset;
    }

        .small-footer{
        font-family: "oswald";
        color: white;
        text-align: center;
        margin-top: 5px;
        padding: 5px;
    }
    .footer{
    img{
        width: 40px;
      
    }
   
}

    .footer .redes-footer{ 
    padding: 15px 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.footer .redes-box{
    display: flex;
    align-items: center;
}

.footer .phone-footer{
    width: 18px;
    height: 18px;
}
