.main {
    .h1-inicio {
        color: #B31312;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 6px;
        background-color: #EEE2DE;
        font-family: 'Oswald', sans-serif;
        font-size: 36px;

        .h1-tu-clasico {
            font-family: "paytone";
        }
    }

    .carousel-index-container {
        display: none;
    }

    .flex-padre-container {
        .flex-padre {
            padding-top: 38px;
            padding-bottom: 38px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            background-image: url("../resourses/images/fondo-menu.jpg");
            background-position: right;
            background-size: cover;

            img {
                width: 95%;
                border-radius: 7px;
                overflow-y: auto;
            }
        }
    }

    .h2-inicio {
        color: #2B2A4C;
        text-align: center;
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
        background-color: #ffffff;
        font-family: "invisible";
    }

    .section-main2 {
        width: 100%;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        height: 100%;

        img {
            width: 67px;
            height: 67px;
        }

        .reveal {
            position: relative;
            opacity: 0;
        }

        .reveal.active {
            opacity: 1;
        }

        .active.fade-bottom {
            animation: fade-bottom 0.8s ease-in;
        }

        .active.fade-left {
            animation: fade-left 0.8s ease-in;
        }

        .active.fade-right {
            animation: fade-right 0.8s ease-in;
        }

        @keyframes fade-bottom {
            0% {
                transform: translateY(-200px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @keyframes fade-left {
            0% {
                transform: translateX(-100px);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes fade-right {
            0% {
                transform: translateX(100px);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        h3 {
            color: #c91313;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            margin: 10px 0;
            background-color: #ffffff;
            font-size: 40px;
        }

        p {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            text-align: center;
        }

        .trayectoria-box {
            background-color: #ffffff;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            box-shadow: #d9d8d8 0px 0px 10px 0px;
            align-items: center;
            justify-content: center;
            width: 270px;
            height: 338px;
            margin: 15px auto;

        }
    }

    .section-main3 {
        background-image: url(../resourses/images/fondo-menu.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        .nina-sonriendo {
            width: 60%;
            border-radius: 15px;
        }

        .h3-index {
            padding-top: 10px;
            font-size: 35px;
            font-family: "paytone";
            text-align: center;
            text-transform: uppercase;
            color: rgb(179, 19, 18);

        }
    }

    .carousel-container {
        background-image: url(../resourses/images/local.JPG);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 1400px) {
    .main .h1-inicio {
        font-size: 35px;
    }
}

@media (max-width: 1200px) {
    .main .h1-inicio {
        font-size: 33px;
    }
}

@media(max-width: 924px) {
    .main {
        .h1-inicio {
            font-size: 31px;
        }

        .section-main2 {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                max-width: 65px;
                max-height: 65px;


                .section-main2 h3 {
                    font-size: 38px;

                }
            }
        }
    }
}

@media (max-width: 850px) {

    .main {

        .h1-tu-clasico {
            font-size: 30px;
        }

        .h2-inicio {
            font-size: 38px;
            margin: 0 3px;
        }

        .section-main2 {

            img {
                max-width: 62px;
                max-height: 62px;
            }

            h3 {
                font-size: 36px;
            }
        }
    }
}

@media(max-width: 764px) {

    .main {

        .h1-tu-clasico {
            font-size: 29px;
            color: #B31312;
        }

        .h2-inicio {
            font-size: 36px;
            margin: 0 3px;
        }

        .section-main3 {
            .h3-index {
                font-size: 33px;

            }
        }
    }
}

@media (max-width:700px) {

    .main {

        .h2-inicio {
            font-size: 34px;
            margin: 0 3px;
        }

        .section-main2 {
            img {
                max-width: 60px;
                max-height: 60px;
            }

            h3 {
                font-size: 34px;
            }
        }

        .section-main3 {

            .nina-sonriendo {
                width: 80%;
            }

            .h3-index {
                font-size: 31px;
            }
        }
    }
}

@media (max-width: 600px) {

    .main {

        .h2-inicio {
            font-size: 32px;
            margin: 0 3px;
        }

        .section-main2 {
            flex-direction: column;
            align-items: center;

            img {
                max-width: 58px;
                max-height: 58px;
            }

            h3 {
                font-size: 32px;
            }
        }

        .section-main3 {
            .h3-index {
                font-size: 29px;
            }
        }

    }
}

@media (max-width: 550px) {
    .main {
        background-image: url("../resourses/images/fondo-menu.jpg");
        background-position: top;
        background-size: cover;


        .carousel-index-container {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 360px;
            margin: auto;
        }

        .flex-padre-container {
            display: none;
        }

        .h1-inicio {
            font-size: 20px;
            display: flex;
            flex-direction: column;
        }

        // .header a {
        //     padding: 0 3px;
        // }

        .h1-tu-clasico {
            font-size: 25px;
            color: #2B2A4C;
        }

        .h2-inicio {
            font-size: 30px;
            margin: 0 3px;
        }


        .section-main2 {
            img {
                max-width: 55px;
                max-height: 55px;
            }

            h3 {
                font-size: 30px;
            }

            p {
                font-size: 18px;
            }
        }

        .section-main3 {
            .h3-index {
                font-size: 25px;
                padding-top: 15px;
            }
        }
    }
}