.h1-nos-importa {
    color: #B31312;
    text-align: center;
    background-color: #EEE2DE;
    font-family: "paytone";
    padding-top: 2px;
    padding-bottom: 6px;
    font-size: 32px;
    text-transform: uppercase;
}

.main-nos-importa {
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog-container {
        article {
            .h2-nos-importa {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color: #2B2A4C;
                font-size: 50px;
                font-weight: 500;
                padding: 15px
            }

            .p-reciclar {
                color: black;
                font-size: 22px;
                font-weight: bold;
                padding: 10px;
            }

            p {
                color: #1f1f1f;
                padding: 10px;
                max-width: 800px;
                text-align: justify;
            }
        }

        .h3-nos-importa {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #2B2A4C;
            font-size: 25px;
            font-weight: 500;
            padding: 15px
        }

        .p-increible {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .h4-nos-importa {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #B31312;
            font-size: 45px;
            font-weight: 500;
            padding: 15px;
            /* text-align: center; */
        }

        .p-style-title {
            color: #2B2A4C;
            font-size: 26px;
        }

        .playas-limpias-img {
            max-width: 70%;
            padding: 15px;
        }

        .h5-nos-importa {
            font-family: "carter";
            color: #ee7b1c;
            font-size: 35px;
            font-weight: 500;
            padding: 15px;
        }

        .emoji-abrazo {
            max-width: 50px;
        }

        .ul-playas-limpias li {
            margin-left: 25px;
            max-width: 850px;
        }

        p {
            color: #1f1f1f;
            padding: 10px;
            max-width: 800px;
            text-align: justify;
        }
    }
}

@media (max-width: 1400px) {
    .h1-nos-importa {
        font-size: 31px;
    }

    .main-nos-importa {
        .blog-container {
            margin: auto;

            article {
                .h2-nos-importa {
                    font-size: 48px;
                }
            }

            .h4-nos-importa {
                font-size: 43px;
            }

            .h5-nos-importa {
                font-size: 33px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .h1-nos-importa {
        font-size: 30px;
    }

    .main-nos-importa {
        .blog-container {
            article {
                .h2-nos-importa {
                    font-size: 46px;
                }

                .p-reciclar {
                    font-size: 21px;
                }
            }

            .h4-nos-importa {
                font-size: 41px;
            }

            .h5-nos-importa {
                font-size: 31px;
            }
        }
    }
}

@media(max-width:992px) {
    .h1-nos-importa {
        font-size: 28px;
    }

    .main-nos-importa {
        .blog-container {
            article {
                .h2-nos-importa {
                    font-size: 44px;
                }

                .p-reciclar {
                    font-size: 20px;
                }
            }

            .h4-nos-importa {
                font-size: 39px;
            }

            .h5-nos-importa {
                font-size: 29px;
            }
        }
    }
}

@media(max-width:768px) {
    .h1-nos-importa {
        font-size: 28px;
    }

    .main-nos-importa {
        .blog-container {
            article {
                .h2-nos-importa {
                    font-size: 44px;
                    text-align: start;
                }

                .p-reciclar {
                    font-size: 20px;
                }
            }

            .h3-nos-importa {
                font-size: 23px;
            }

            .h4-nos-importa {
                font-size: 39px;
            }

            .h5-nos-importa {
                font-size: 29px;
            }
        }

        article {
            .nos-importa-iframe {
                width: 100%;
            }
        }
    }
}

@media(max-width:576px) {
    .h1-nos-importa {
        font-size: 27px;
    }

    .main-nos-importa {
        align-items: flex-start;

        .blog-container {
            article {
                .h2-nos-importa {
                    font-size: 42px;
                }

                .p-reciclar {
                    font-size: 18px;
                }
            }

            .h3-nos-importa {
                font-size: 21px;
            }

            .h4-nos-importa {
                font-size: 37px;
            }

            .h5-nos-importa {
                font-size: 27px;
            }

            article {
                .nos-importa-iframe {
                    width: 100%;

                }
            }
        }
    }
}